/* HEADER STYLING */
nav {
    background-color: beige;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}
.flex-container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    padding: 5px; 
}

.icons {
    border: solid;
    border-color: blue;
    border-radius: 5px;
}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 10px;
    padding: 5px;
    
}

.icons img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    
}

.icons a:hover {
    background-color: gray;
    border-radius: 2px;

}

body {
    background-color: white;
}

/* MAIN CONTENT */
.headshot {
    display: flex;
    border: solid;
    border-color: green;
    margin-top: 60px;
    height: 200px;
}

.headshot img {
    border-radius: 100px;
    margin-left: 20px;
}

.intro {
    border: solid;
    margin: 50px 20px;
    text-align:center;
}

.content {
    border: solid;
    margin-top: 20px;
}

.projects {
    border: solid;
    margin-top: 20px;
}

