/* HEADER STYLING */
<<<<<<< HEAD
nav {
    background-color: beige;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
=======
html {
    background: rgb(222, 222, 222);
>>>>>>> daily-journal
}
nav {
    background-color: rgb(68, 158, 255);
    width: 100vw;
}
.icons-flex-container {
    display: flex;
    justify-content: right;
    align-items: center;
<<<<<<< HEAD
    gap: 15px;
    padding: 5px; 
=======
    gap: 20px;
    padding: 10px;
    border: solid;
>>>>>>> daily-journal
}

.icons {
    border: solid;
    border-color: blue;
    border-radius: 5px;
}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 10px;
    padding: 5px;
    
}

.icons img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    
}

.icons a:hover {
    background-color: gray;
    border-radius: 2px;

}



/* MAIN CONTENT */
.headshot-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
    border: solid;
    border-color: green;
    margin-top: 60px;
    height: 200px;
}

<<<<<<< HEAD
.headshot img {
    border-radius: 100px;
    margin-left: 20px;
}

.intro {
    border: solid;
    margin: 50px 20px;
    text-align:center;
}

.content {
    border: solid;
    margin-top: 20px;
}

.projects {
    border: solid;
    margin-top: 20px;
=======
.headshot-container img {
    border-radius: 100px;
    box-shadow: 5px 5px 5px;
    border: solid;
>>>>>>> daily-journal
}

