/* HEADER STYLING */
html {
    background: rgb(222, 222, 222);
}
nav {
    background-color: rgb(68, 158, 255);
    width: 100vw;
}
.icons-flex-container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: solid;
}

.icons {
    border: solid;
    border-color: blue;
    border-radius: 5px;
}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 10px;
    padding: 5px;
    
}

.icons img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    
}

.icons a:hover {
    background-color: gray;
    border-radius: 2px;

}



/* MAIN CONTENT */
.headshot-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
    border: solid;
}

.headshot-container img {
    border-radius: 100px;
    box-shadow: 5px 5px 5px;
    border: solid;
}

